@use '@/styles/abstracts/functions' as *;
@use '@/styles/abstracts/breakpoints' as *;

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  height: 48px;
  font-weight: 500;
  line-height: 150%;
  border-radius: 16px;
  font-size: 16px;
  transition: all 0.1s;
  cursor: pointer;
  padding: 0 12px;
}

.buttonSm {
  width: fit-content;
}

.buttonMd {
  width: fit-content;
}

.buttonLg {
  width: 100%;
  padding: 0 22px;
}

.buttonPrimary {
  background-color: color(pallete, primary);
  color: color(text, tertiary);
}

.buttonSecondary {
  background-color: color(pallete, secondary);
  color: color(text, tertiary);
}

.buttonTertiary {
  background-color: transparent;
  color: color(text, tertiary);
  border: 1px solid color(text, tertiary);
  text-transform: uppercase;

  &:hover {
    background-color: var(--hover-color, transparent);
  }
}

.buttonGhost {
  background-color: transparent;
  color: color(text, primary);

  &:hover {
    background-color: color(pallete, secondary);
    color: color(text, tertiary);
  }
}
