@use '@/styles/abstracts/functions' as *;
@use '@/styles/abstracts/breakpoints' as *;

.sessionClients {
  width: 100%;
  margin-bottom: 100px;
  position: relative;

  .clientsContent {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .sessionClientItem {
    width: 100%;
    max-width: 460px;
    display: flex;
    flex-direction: column;
    background-color: color(background, primary);
    align-items: center;
    text-align: center;

    span {
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
      letter-spacing: 0px;
      color: color(text, primary);
      text-transform: uppercase;
      margin-bottom: 8px;
    }

    strong {
      font-weight: 500;
      font-size: 40px;
      line-height: 140%;
      letter-spacing: 0px;
      color: color(pallete, secondary);
      margin-bottom: 8px;
    }

    p {
      width: 100%;
      max-width: 343px;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: 0px;
      color: color(text, secondary);
      margin-bottom: 40px;
    }

    & > img {
      width: 100% !important;
      height: auto !important;
    }
  }

  .imgBrandingBlue {
    position: absolute;
    pointer-events: none;
    top: -39px;
    right: 0;
    z-index: -1;
    width: auto !important;
    height: auto !important;
    display: none;
  }

  .imgBrandingGray {
    position: absolute;
    pointer-events: none;
    bottom: -110px;
    right: 0;
    z-index: -1;
    width: auto !important;
    height: auto !important;
    display: none;
  }

  @include respond-to('md') {
    .clientsContent {
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 48px;
      flex-direction: unset;
    }

    .sessionClientItem {
      &:nth-child(1) {
        transform: translateX(98px);
      }

      &:nth-child(2) {
        transform: translateY(449px);
      }

      &:nth-child(3) {
        transform: translateX(98px);
      }
      span {
        font-size: 18px;
      }
      strong {
        font-size: 72px;
      }
      p {
        max-width: 364px;
      }

      align-items: flex-start;
      text-align: left;
    }
    .imgBrandingBlue,
    .imgBrandingGray {
      display: block;
    }
  }
}
