@use '@/styles/abstracts/functions' as *;
@use '@/styles/abstracts/breakpoints' as *;

.sessionClients {
  width: 100%;
  margin-bottom: 100px;
  position: relative;

  .clientsContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 48px;
  }

  .sessionClientItem {
    width: 100%;
    max-width: 460px;
    display: flex;
    flex-direction: column;
    background-color: color(background, primary);

    &:nth-child(1) {
      transform: translateX(98px);
    }

    &:nth-child(2) {
      transform: translateY(449px);
    }

    &:nth-child(3) {
      transform: translateX(98px);
    }

    span {
      font-weight: 400;
      font-size: 18px;
      line-height: 140%;
      letter-spacing: 0px;
      color: color(text, primary);
      text-transform: uppercase;
      margin-bottom: 8px;
    }

    strong {
      font-weight: 500;
      font-size: 72px;
      line-height: 140%;
      letter-spacing: 0px;
      color: color(pallete, secondary);
      margin-bottom: 8px;
    }

    p {
      width: 100%;
      max-width: 364px;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: 0px;
      color: color(text, secondary);
      margin-bottom: 40px;
    }

    & > img {
      width: 100% !important;
      height: auto !important;
    }
  }

  .imgBrandingBlue {
    position: absolute;
    pointer-events: none;
    top: -39px;
    right: 0;
    z-index: -1;
    width: auto !important;
    height: auto !important;
  }

  .imgBrandingGray {
    position: absolute;
    pointer-events: none;
    bottom: -110px;
    right: 0;
    z-index: -1;
    width: auto !important;
    height: auto !important;
  }
}
