@use '@/styles/abstracts/functions' as *;
@use '@/styles/abstracts/breakpoints' as *;

.home {
  padding-top: 100px;
}

.content {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}

.sessionBanner {
  width: 100%;
  height: calc(100vh - 156px);
  padding-top: 56px;
}
