@use '@/styles/abstracts/functions' as *;
@use '@/styles/abstracts/breakpoints' as *;

.content {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}

.sessionBanner {
  width: 100%;
  height: calc(100vh - 156px);
  margin-top: calc(100px + 56px);
}
