@use '@/styles/abstracts/functions' as *;
@use '@/styles/abstracts/breakpoints' as *;

.sessionBlog {
  margin-bottom: 64px;

  .contentBlog {
    display: flex;
    flex-direction: column;
    padding: 0 16px;
    overflow: hidden;

    h2 {
      font-weight: 700;
      font-size: 24px;
      line-height: 150%;
      letter-spacing: 0px;
      color: color(text, primary);
      margin-bottom: 16px;
    }

    .headerBlog {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 24px;

      p {
        width: 100%;
        max-width: 558px;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0px;
        color: color(text, secondary);
      }

      button {
        display: none;
      }
    }

    .menuBlog {
      width: fit-content;
      margin: 0 auto;
      height: 59px;
      display: flex;
      align-items: center;
      gap: 16px;
      padding: 8px;
      background-color: color(neutrals, gray-200);
      border-radius: 999px;
      margin-bottom: 40px;
      white-space: nowrap;
      overflow-x: auto;

      .itemMenu {
        height: 43px;
        padding: 0 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        border-radius: 999px;
        background-color: transparent;
        color: color(text, secondary);
        font-weight: 500;
        font-size: 18px;
        line-height: 150%;
        letter-spacing: 0px;
        transition: all 0.1s;
        cursor: pointer;

        &:hover {
          background-color: color(pallete, primary);
          color: color(text, tertiary);
        }
      }
      .activeItemMenu {
        background-color: color(pallete, primary);
        color: color(text, tertiary);
      }
    }

    .postBlog {
      width: 100%;
      display: flex;
      justify-content: space-between;
      gap: 24px;
      flex-direction: column;

      .itemBlog {
        padding: 32px;
        border-radius: 20px;
        background-color: color(neutrals, white);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 32px;
        transition: all 0.1s;
        cursor: pointer;

        &:hover {
          background-color: color(neutrals, gray-200);
        }

        span {
          font-weight: 400;
          font-size: 18px;
          line-height: 150%;
          letter-spacing: 0px;
          vertical-align: middle;
          color: color(text, secondary);
        }

        h3 {
          font-weight: 600;
          font-size: 22px;
          line-height: 150%;
          letter-spacing: 0px;
          color: color(text, primary);
        }

        p {
          font-weight: 400;
          font-size: 18px;
          line-height: 150%;
          letter-spacing: 0px;
          color: color(text, secondary);
        }

        .profileBlog {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          gap: 16px;

          .imgProfileBlog {
            border-radius: 50%;
          }

          .profileInfo {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 8px;

            & > strong {
              font-weight: 500;
              font-size: 18px;
              line-height: 150%;
              letter-spacing: 0px;
              color: color(text, primary);
            }
            & > p {
              font-weight: 400;
              font-size: 18px;
              line-height: 150%;
              letter-spacing: 0px;
              color: color(text, secondary);
            }
          }
        }
      }
    }

    .btnMobile {
      margin-top: 16px;
    }
  }

  @include respond-to('md') {
    margin-bottom: 100px;

    .contentBlog {
      padding: 0;
      overflow: unset;

      & > h2 {
        font-size: 40px;
        margin-bottom: 8px;
      }

      .headerBlog {
        margin-bottom: 40px;

        p {
          font-size: 18px;
        }
        button {
          display: flex;
        }
      }

      .menuBlog {
        white-space: unset;
        overflow-x: unset;
      }

      .postBlog {
        flex-direction: row;

        .itemBlog {
          &:first-child {
            width: 60%;
          }
          &:last-child {
            width: 40%;
          }
        }
      }

      .btnMobile {
        display: none;
      }
    }
  }
}
